<div align="center">
    <h1>Name List</h1>
    <form method="GET" action="{% url 'results' %}">
        <input name="q" value="{{request.GET.q}}" >
        <button class="btn btn-success" type="submit">
            Search
        </button>
    </form>
{% for instance in User_list %}
    <p>{{instance.id}}-<a href="/detail/{{instance.id}}/">{{instance.Name}}</a></p>
    <form action="{% url 'delete_view' id=instance.id %}" method="POST">
    {% csrf_token %}
    <input class="btn btn-default btn-danger" type="submit" value="Delete"/>
    </form>
{%endfor%}
    <form action="{% url 'create_view' %}" method="POST">
    {% csrf_token %}
    <input class="btn btn-default btn-danger" type="submit" value="Create"/>
    </form>
</div>